*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.image-control {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .image-control img {
    width: 100%; }
  .image-control.vertical img {
    width: auto;
    height: 100%; }

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1; }

.featured-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 -7px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.featured-list li {
  padding: 0 7px 15px;
  width: 100%; }

.featured-list .featured-box {
  min-height: 100%; }

.featured-box {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  position: relative; }

.featured-box .img-holder {
  overflow: hidden;
  margin: 0 0 3px; }

.featured-box .img-holder img {
  border-radius: 2px; }

.featured-box .img-holder.img-lg {
  border-radius: 8px 8px 0 0;
  margin: -10px -10px 3px; }

.featured-box .img-holder.img-lg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0; }

.featured-box .ico-flag {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  top: 9px;
  border-radius: 100%; }

.featured-box .tag {
  font-size: 9px;
  line-height: 12px;
  min-width: 42px;
  padding: 3px 5px;
  color: rgba(4, 20, 39, 0.5);
  background: #f7fbff;
  border-radius: 2px;
  margin: 0 2px 3px 0;
  position: absolute;
  text-align: center;
  right: 5px;
  top: 6px; }

.featured-box .label {
  font-size: 9px;
  line-height: 12px;
  color: #fff;
  background: #18ac3c;
  position: absolute;
  top: 15px;
  right: -16px;
  padding: 2px 5px;
  width: 90px;
  text-align: center;
  -webkit-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(42deg); }

.featured-box .textbox {
  overflow: hidden;
  padding: 0 0 40px; }

.featured-box .title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  display: block;
  color: #041427;
  margin: 0 0 13px; }

.featured-box .txt {
  font-size: 9px;
  line-height: 12px;
  opacity: 0.5;
  margin: -12px 0 2px;
  display: block; }

.featured-box .amount,
.featured-box .percent {
  font-size: 16px;
  line-height: 20px;
  color: #041427;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 0 3px; }

@media (min-width: 1024px) {
  .featured-box .amount,
  .featured-box .percent {
    font-size: 14px; } }

@media (min-width: 1200px) {
  .featured-box .amount,
  .featured-box .percent {
    font-size: 16px; } }

.featured-box .amount span,
.featured-box .percent span {
  font-size: 12px;
  opacity: 0.4;
  font-weight: 400;
  padding: 0 0 0 5px; }

.featured-box .percent {
  color: #18ac3c; }

.featured-box .percent span {
  color: #041427; }

.featured-box .percent img {
  margin-left: auto;
  max-width: 54px;
  margin-bottom: 2px; }

.featured-box .percent .fa-caret-up {
  font-size: 13px;
  margin: 0 2px 1px 0; }

.featured-box .favorit {
  font-size: 23px;
  line-height: 1;
  color: #a5a5a5; }

.featured-box .favorit:hover .fa-heart:before,
.featured-box .favorit.active .fa-heart:before {
  content: "\f004";
  font-weight: 700;
  color: #f33131; }

.featured-box .btns-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 8px 13px; }

@media (max-width: 1600px) {
  .featured-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .featured-list li:last-of-type {
      display: none; } }

@media (max-width: 1024px) {
  .featured-list {
    grid-template-columns: repeat(4, 1fr); }
    .featured-list li:last-of-type {
      display: block; } }

@media screen and (max-width: 768px) {
  .featured-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 600px) {
  .featured-list {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

.btn {
  color: #000;
  font-size: 16px;
  line-height: 21px;
  background: #ffc800;
  padding: 11px 23px;
  border-radius: 6px;
  position: relative;
  font-weight: 600;
  border: 1px solid #ffc800;
  display: inline-block;
  text-align: center; }

.btn:hover {
  background: #edba00;
  border-color: #ffc800;
  text-decoration: none;
  color: #000; }

.btn.btn-outline {
  color: #063a79;
  background: transparent;
  border: 1px solid #004ba6; }

.btn.btn-outline:hover {
  color: #fff;
  background: #004ba6;
  border-color: #004ba6; }

.btn.btn-white {
  color: #063a79;
  background: #fff;
  border: 1px solid #fff; }

.btn.btn-white:hover {
  background: #cee4ff;
  border-color: #cee4ff; }

.btn.btn-sky {
  background: rgba(96, 150, 215, 0.07);
  border: 0;
  color: #063a79;
  padding: 12px 25px; }

.btn.btn-sky:hover {
  background: rgba(96, 150, 215, 0.35); }

.btn.btn-blue {
  background: #003ba1;
  border-color: #003ba1;
  color: #fff; }

@media (min-width: 768px) {
  .btn.btn-blue {
    padding: 9px 23px; } }

.btn.btn-blue .fa-paper-plane {
  margin: 0 6px 0 0; }

.btn.btn-blue:hover {
  background: #004ba6;
  border-color: #004ba6; }

.btn.btn-red {
  background: #f33131;
  border-color: #f33131;
  color: #fff; }

.btn.btn-red:hover {
  background: #de0000;
  border-color: #de0000; }

.btn.btn-sm {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 8px 15px; }

@media (min-width: 1024px) {
  .btn.btn-sm {
    font-size: 11px; } }

@media (min-width: 768px) {
  .btn.btn-lg {
    width: 360px; } }

@media (min-width: 1024px) {
  .btn.btn-lg {
    width: 460px; } }

#inserted-modal.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  z-index: 99999999;
  overflow-y: auto; }
  #inserted-modal.modal .modal-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6); }
  #inserted-modal.modal .modal-content .modal-close {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 2.5rem;
    line-height: 1.8rem;
    padding: 1.5rem;
    cursor: pointer; }

#ola-modal {
  padding: 9rem 0 0; }
  #ola-modal .modal-content {
    max-width: 48rem;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.07), 0 3px 15px 0 rgba(0, 0, 0, 0.15); }
    #ola-modal .modal-content .modal-body {
      height: 100%; }
      #ola-modal .modal-content .modal-body-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem 1.6rem 2rem; }
        #ola-modal .modal-content .modal-body-inner .chat {
          margin-top: 4rem;
          flex-grow: 1;
          height: 100%;
          overflow-y: auto; }
          #ola-modal .modal-content .modal-body-inner .chat .ola-message {
            display: grid;
            grid-template-columns: max-content 1fr;
            column-gap: 8px; }
            #ola-modal .modal-content .modal-body-inner .chat .ola-message .image-control {
              height: 3.2rem;
              width: 3.2rem;
              border-radius: 100%;
              margin-top: 8px; }
          #ola-modal .modal-content .modal-body-inner .chat .message-block {
            width: 100%;
            margin-bottom: 1.6rem;
            display: flex;
            flex-direction: column; }
            #ola-modal .modal-content .modal-body-inner .chat .message-block > div:not(:last-child) {
              margin-bottom: 8px; }
            #ola-modal .modal-content .modal-body-inner .chat .message-block .chat-row {
              min-width: 7rem;
              max-width: 26rem;
              padding: 1.2rem;
              border-radius: 1.2rem;
              line-height: 2rem; }
            #ola-modal .modal-content .modal-body-inner .chat .message-block.out {
              align-items: flex-end; }
              #ola-modal .modal-content .modal-body-inner .chat .message-block.out .chat-row {
                background-color: #e8ffdc;
                border-bottom-right-radius: 4px; }
            #ola-modal .modal-content .modal-body-inner .chat .message-block.in {
              align-items: flex-start; }
              #ola-modal .modal-content .modal-body-inner .chat .message-block.in .chat-row {
                background-color: #f1f3f5;
                border-bottom-left-radius: 4px; }
        #ola-modal .modal-content .modal-body-inner .text-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #063a79;
          border-radius: 8px;
          margin-top: 1.6rem;
          padding: 1.2rem;
          box-shadow: 0 1px 3px 0 rgba(2, 14, 30, 0.1); }
          #ola-modal .modal-content .modal-body-inner .text-box input {
            flex-grow: 1;
            margin-right: 1rem;
            font-size: 1.6rem;
            border: none;
            outline: none; }
          #ola-modal .modal-content .modal-body-inner .text-box i {
            font-size: 2rem;
            color: #034391; }

#farm-crop-modal {
  align-items: flex-start;
  padding: 5rem;
  background: rgba(0, 0, 0, 0.6); }
  @media screen and (max-width: 768px) {
    #farm-crop-modal {
      padding: 2rem; } }
  #farm-crop-modal .modal-body {
    position: relative; }
    #farm-crop-modal .modal-body .modal-close {
      padding: 0;
      left: 100%;
      transform: translateX(20px);
      color: white; }

.mini {
  background: rgba(4, 20, 39, 0.87); }
  .mini .modal-content {
    position: relative;
    background-color: white;
    width: 32rem;
    padding: 2rem;
    border-radius: 13px;
    box-shadow: 0 3px 15px 0 rgba(2, 14, 30, 0.21); }
    .mini .modal-content .modal-header h4 {
      color: rgba(1, 10, 21, 0.51);
      font-size: 13px;
      font-weight: 600;
      line-height: 1.8rem; }
    .mini .modal-content .modal-body {
      margin-top: 2rem; }
      .mini .modal-content .modal-body h3 {
        margin-bottom: 1.5rem;
        color: #010a15;
        font-size: 15px;
        font-weight: 600; }
      .mini .modal-content .modal-body p {
        opacity: 0.87;
        color: #010a15;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 21px; }
    .mini .modal-content .modal-close {
      padding: 2rem; }

#about-stock-modal .modal-content .modal-body p {
  margin-bottom: 3rem; }

#about-stock-modal .modal-content .modal-body .about-blocks {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  column-gap: 3rem; }
  #about-stock-modal .modal-content .modal-body .about-blocks small {
    opacity: 0.44;
    color: #041427;
    font-size: 12px; }
  #about-stock-modal .modal-content .modal-body .about-blocks p {
    color: #041427;
    font-family: Inter;
    font-size: 14px;
    margin-bottom: 0; }

#key-people-modal .modal-content .modal-body {
  margin-top: 3rem; }
  #key-people-modal .modal-content .modal-body .key-people .person {
    margin-bottom: 3rem;
    display: flex;
    align-items: center; }
    #key-people-modal .modal-content .modal-body .key-people .person-image {
      width: 4.8rem;
      height: 4.8rem;
      margin-right: 2.5rem; }
    #key-people-modal .modal-content .modal-body .key-people .person-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #key-people-modal .modal-content .modal-body .key-people .person-details .person-name {
        opacity: 0.87;
        color: #010a15;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 3px; }
      #key-people-modal .modal-content .modal-body .key-people .person-details .person-post {
        opacity: 0.67;
        color: #010a15;
        font-size: 14px;
        margin-top: 3px; }

#expert-opinion-modal .modal-content .modal-body {
  margin-top: 3rem; }
  #expert-opinion-modal .modal-content .modal-body .buy-or-sell {
    margin: 1rem 0 3.5rem;
    padding: 0 5px;
    display: flex;
    align-items: stretch; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.positive .sell .big {
      display: none; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.positive .sell .small {
      display: flex; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.positive .sell .action-icon {
      padding-bottom: 4px; }
      #expert-opinion-modal .modal-content .modal-body .buy-or-sell.positive .sell .action-icon .small {
        height: 2.1rem; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.positive .buy .big {
      display: flex; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.positive .buy .small {
      display: none; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.positive .buy .action-name {
      color: #0ba50d;
      font-weight: 600; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.negative .buy .big {
      display: none; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.negative .buy .small {
      display: flex; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.negative .buy .action-icon {
      padding-bottom: 4px; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.negative .sell .big {
      display: flex; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.negative .sell .small {
      display: none; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.negative .sell .action-name {
      color: #f44545;
      font-weight: 600; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .sell .action-icon .small {
      height: 2.1rem; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .buy .big,
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .sell .big {
      display: none; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .buy .small,
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .sell .small {
      display: flex; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .buy .action-icon,
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .sell .action-icon {
      padding-bottom: 4px; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .visualizer {
      margin-top: 1.5rem; }
      #expert-opinion-modal .modal-content .modal-body .buy-or-sell.neutral .visualizer .action-name {
        color: #f1d311;
        font-weight: 600; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell .action-name {
      margin-top: 5px;
      color: #839083;
      font-size: 14px; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell-action {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #expert-opinion-modal .modal-content .modal-body .buy-or-sell-action .action-icon {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end; }
        #expert-opinion-modal .modal-content .modal-body .buy-or-sell-action .action-icon .image-control img {
          width: auto;
          height: 100%; }
        #expert-opinion-modal .modal-content .modal-body .buy-or-sell-action .action-icon .image-control.big {
          height: 4rem; }
        #expert-opinion-modal .modal-content .modal-body .buy-or-sell-action .action-icon .image-control.small {
          height: 2.4rem; }
    #expert-opinion-modal .modal-content .modal-body .buy-or-sell .visualizer {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 8px; }
      #expert-opinion-modal .modal-content .modal-body .buy-or-sell .visualizer .progress {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        padding-bottom: 1.4rem; }
        #expert-opinion-modal .modal-content .modal-body .buy-or-sell .visualizer .progress-bar {
          position: relative;
          height: 6px;
          width: 100%;
          border-radius: 4px;
          background: linear-gradient(270deg, #0ba50d 0%, #f1d311 48.52%, #f33131 100%); }
          #expert-opinion-modal .modal-content .modal-body .buy-or-sell .visualizer .progress-bar .marker {
            height: 2rem;
            position: absolute;
            top: 0%;
            left: 0%;
            transform: translate(-50%, -90%); }
            #expert-opinion-modal .modal-content .modal-body .buy-or-sell .visualizer .progress-bar .marker img {
              width: auto;
              height: 100%; }
  #expert-opinion-modal .modal-content .modal-body .opinion-list li {
    margin-bottom: 4rem;
    display: flex;
    align-items: center; }
    #expert-opinion-modal .modal-content .modal-body .opinion-list li .stock-image {
      position: relative;
      height: 4.4rem;
      width: 4.4rem;
      border-radius: 2px;
      overflow: visible; }
      #expert-opinion-modal .modal-content .modal-body .opinion-list li .stock-image .expert-image {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(50%, 40%); }
    #expert-opinion-modal .modal-content .modal-body .opinion-list li .stock-details {
      margin-left: 2.6rem;
      flex-grow: 1; }
      #expert-opinion-modal .modal-content .modal-body .opinion-list li .stock-details .stock-name {
        color: #000a16;
        font-size: 14px;
        font-weight: 600; }
      #expert-opinion-modal .modal-content .modal-body .opinion-list li .stock-details small {
        color: rgba(0, 10, 23, 0.79);
        font-size: 12px;
        opacity: 1; }
    #expert-opinion-modal .modal-content .modal-body .opinion-list li .action {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase; }
      #expert-opinion-modal .modal-content .modal-body .opinion-list li .action.buy {
        color: #0ba50d; }
      #expert-opinion-modal .modal-content .modal-body .opinion-list li .action.hold {
        color: #f2bf00; }
      #expert-opinion-modal .modal-content .modal-body .opinion-list li .action.sell {
        color: #f44545; }

#market-info-modal .modal-content .modal-body {
  margin-top: 4rem; }
  #market-info-modal .modal-content .modal-body .market-info-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem; }
    #market-info-modal .modal-content .modal-body .market-info-blocks .market-info-block {
      color: #041427; }
      #market-info-modal .modal-content .modal-body .market-info-blocks .market-info-block small {
        opacity: 0.44;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px; }
      #market-info-modal .modal-content .modal-body .market-info-blocks .market-info-block p {
        color: #041427;
        font-size: 14px;
        font-weight: 500; }

#about-estate-modal .modal-content .modal-body h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem; }

#about-estate-modal .modal-content .modal-body p {
  opacity: 0.87;
  color: #010a15;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 2rem; }

#about-estate-modal .modal-content .modal-body .detail-boxes {
  margin: 3.3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem; }
  #about-estate-modal .modal-content .modal-body .detail-boxes .detail-box p {
    color: #041427;
    font-size: 14px;
    font-weight: 500; }
  #about-estate-modal .modal-content .modal-body .detail-boxes .detail-box .detail-icons {
    display: grid;
    grid-template-columns: 3rem max-content;
    align-items: center;
    column-gap: 1rem; }
    #about-estate-modal .modal-content .modal-body .detail-boxes .detail-box .detail-icons span {
      opacity: 0.36;
      color: #041427;
      font-size: 24px; }
      #about-estate-modal .modal-content .modal-body .detail-boxes .detail-box .detail-icons span.checkmark {
        color: #0ba50d;
        font-size: 14px; }

.banner {
  height: 80rem;
  padding-top: 7.8rem; }
  @media (max-width: 1024px) {
    .banner {
      padding-top: 6.8rem; } }
  .banner .container {
    height: 100%;
    position: relative;
    background: url("../../images/image-slide1.png");
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover; }
    .banner .container:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background: linear-gradient(180deg, rgba(2, 14, 30, 0.27), rgba(2, 14, 30, 0.27)); }

.updates,
.bottom-strip {
  position: absolute; }

.updates {
  top: 10rem;
  left: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem; }
  .updates .stock-update-menu {
    height: 4rem;
    display: flex;
    padding: 0 8px; }
    .updates .stock-update-menu-item {
      cursor: pointer;
      height: 4rem;
      width: 12.5rem;
      display: flex;
      align-items: center;
      padding: 0 2.5rem 0 1.5rem;
      position: relative;
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 600;
      background-image: url(../../images/Path.svg);
      background-size: contain;
      background-position-x: 100%;
      background-position-y: 100%;
      background-repeat: no-repeat; }
      .updates .stock-update-menu-item .countries-menu {
        box-sizing: border-box;
        margin-left: 4px;
        display: flex;
        height: 4rem; }
        .updates .stock-update-menu-item .countries-menu .country-menu-item {
          cursor: pointer;
          margin-right: 4px;
          padding: 0 2px 0 2px;
          width: 2rem;
          height: 4rem;
          border-bottom: 4px solid transparent; }
          .updates .stock-update-menu-item .countries-menu .country-menu-item img {
            margin-top: 4px; }
          .updates .stock-update-menu-item .countries-menu .country-menu-item.active {
            border-bottom: 4px solid #063a79; }
      .updates .stock-update-menu-item.active {
        background-image: url(../../images/Path-active.svg); }
  .updates .stock-update-body {
    width: 40rem;
    padding: 15px 8px 8px 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.87);
    overflow: hidden; }
    .updates .stock-update-body-inner {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      column-gap: 1.6rem;
      transform: translateX(-40rem);
      transition: all 300ms cubic-bezier(0.54, -0.18, 0.19, 1.04); }
    .updates .stock-update-body .stock-update-list {
      width: 38.4rem; }
      .updates .stock-update-body .stock-update-list li:last-of-type {
        margin-bottom: 0; }
      .updates .stock-update-body .stock-update-list-item {
        padding: 1.2rem 1rem;
        margin-bottom: 1rem;
        background-color: white;
        border-radius: 4px;
        display: grid;
        grid-template-columns: max-content max-content 1fr max-content max-content;
        align-items: center;
        column-gap: 1rem; }
        .updates .stock-update-body .stock-update-list-item .index {
          height: 2.2rem;
          width: 2.2rem;
          border-radius: 100%;
          background-color: rgba(255, 176, 0, 0.3);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 500; }
        .updates .stock-update-body .stock-update-list-item .stock-image {
          height: 48px;
          width: 48px;
          border-radius: 4px; }
          .updates .stock-update-body .stock-update-list-item .stock-image img {
            width: auto;
            height: 100%; }
        .updates .stock-update-body .stock-update-list-item .stock-details .stock-code {
          font-size: 14px;
          font-weight: 600; }
        .updates .stock-update-body .stock-update-list-item .stock-details .stock-name {
          color: rgba(0, 0, 0, 0.43);
          font-size: 12px;
          letter-spacing: 0; }
        .updates .stock-update-body .stock-update-list-item .stock-chart {
          width: 7rem;
          margin-right: 8px; }
        .updates .stock-update-body .stock-update-list-item .stock-numbers {
          display: flex;
          flex-direction: column;
          align-items: flex-end; }
          .updates .stock-update-body .stock-update-list-item .stock-numbers .price {
            font-size: 14px;
            font-weight: 600; }
          .updates .stock-update-body .stock-update-list-item .stock-numbers .gain {
            font-size: 14px;
            font-weight: 500; }
            .updates .stock-update-body .stock-update-list-item .stock-numbers .gain .positive {
              color: #049f08; }
            .updates .stock-update-body .stock-update-list-item .stock-numbers .gain .negative {
              color: #eb0909; }
      .updates .stock-update-body .stock-update-list.stocks {
        overflow: hidden; }
        .updates .stock-update-body .stock-update-list.stocks .stock-currency {
          display: grid;
          grid-template-columns: max-content max-content;
          grid-gap: 1.6rem;
          transition: all 300ms cubic-bezier(0.54, -0.18, 0.19, 1.04); }
          .updates .stock-update-body .stock-update-list.stocks .stock-currency-item {
            width: 38.4rem; }
  .updates .invest {
    color: #ffffff;
    max-width: 36rem; }
    .updates .invest h2 {
      margin-top: 4.2rem;
      margin-bottom: 3rem;
      font-size: 54px;
      font-weight: bold; }
    .updates .invest p {
      margin-bottom: 6rem;
      font-size: 2.4rem;
      line-height: 34px; }
    .updates .invest .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.6rem 4rem;
      width: max-content;
      border-radius: 6px;
      background-color: #f2bf00;
      color: #020e1e;
      font-size: 16px;
      font-weight: 600; }

.background-image-nav {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }
  .background-image-nav span {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    cursor: pointer;
    transition: all 200ms ease-in-out; }
    .background-image-nav span.active {
      background-color: white; }

.mobile-partners {
  background-color: white;
  margin: 2rem 0;
  padding: 2rem 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .mobile-partners-header {
    color: #063a79;
    font-size: 12px;
    font-weight: 600; }
  .mobile-partners-body {
    width: 100%;
    position: relative;
    overflow: hidden; }
  .mobile-partners-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 3rem; }
    .mobile-partners-wrapper .left-button,
    .mobile-partners-wrapper .right-button {
      cursor: pointer;
      position: absolute;
      height: 6rem;
      width: 2.6rem;
      border: 1px solid #969ca3;
      opacity: 0.95;
      border-radius: 4px;
      background-color: #ffffff;
      color: #969ca3;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mobile-partners-wrapper .left-button.disabled,
      .mobile-partners-wrapper .right-button.disabled {
        display: none; }
    .mobile-partners-wrapper .left-button {
      top: 50%;
      left: 2px;
      transform: translateY(-50%); }
    .mobile-partners-wrapper .right-button {
      top: 50%;
      right: 2px;
      transform: translateY(-50%); }
    .mobile-partners-wrapper ul {
      transition: all 200ms cubic-bezier(0.7, 0, 0.38, 1);
      display: flex; }
      .mobile-partners-wrapper ul li {
        cursor: pointer;
        min-width: 20rem;
        margin-right: 4px;
        overflow: hidden; }
        .mobile-partners-wrapper ul li .image-control {
          width: 100%;
          align-items: center;
          justify-content: center;
          overflow: hidden; }

.bottom-strip {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 5rem;
  overflow: hidden; }
  .bottom-strip::before, .bottom-strip::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 5rem;
    position: absolute;
    width: 250px;
    z-index: 2; }
  .bottom-strip::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .bottom-strip .swiper-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .bottom-strip .stocks {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 10); }
  .bottom-strip .stock {
    display: flex;
    align-items: center;
    color: #020e1e;
    font-size: 14px;
    margin-right: 4rem;
    width: 25rem; }
    .bottom-strip .stock span {
      color: #020e1e;
      font-size: 14px;
      font-weight: 500; }
      .bottom-strip .stock span:nth-child(1) {
        margin-right: 5px; }
    .bottom-strip .stock .gain {
      margin-left: 8px; }
      .bottom-strip .stock .gain > span {
        display: flex;
        align-items: center; }
        .bottom-strip .stock .gain > span i {
          font-size: 1.6rem; }
        .bottom-strip .stock .gain > span span {
          color: #049f08;
          font-size: 1.4rem; }
      .bottom-strip .stock .gain .positive {
        color: #049f08; }
        .bottom-strip .stock .gain .positive .fa-caret-down {
          display: none; }
      .bottom-strip .stock .gain .negative {
        color: #eb0909; }
        .bottom-strip .stock .gain .negative .fa-caret-up {
          display: none; }

@keyframes scroll {
  0% {
    transform: translateX(100vw); }
  100% {
    transform: translateX(-100vw); } }

@media screen and (max-width: 1280px) {
  .banner {
    margin-bottom: 15rem; }
  .mobile-partners {
    display: flex;
    position: absolute;
    bottom: -15rem; }
    .mobile-partners-header {
      margin-bottom: 1rem; } }

@media screen and (max-width: 900px) {
  .banner {
    height: auto; }
    .banner .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10rem 0 0;
      background-size: auto 50rem;
      background-position-x: 70%;
      background-position-y: 0rem; }
  .updates,
  .bottom-strip {
    position: initial; }
  .updates {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    margin: 0 auto; }
    .updates .stock-update-menu {
      padding: 0; }
    .updates .stock-update-body {
      box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.14);
      border-radius: 0 8px 8px 8px; }
    .updates .invest {
      margin: 2rem 0;
      width: 100%;
      max-width: none; }
      .updates .invest h2 {
        display: none; }
      .updates .invest p {
        display: none; }
      .updates .invest .btn {
        margin: 0 auto;
        width: 80%; }
  .background-image-nav {
    display: none; }
  .bottom-strip {
    position: relative; }
  .mobile-partners {
    display: flex; } }

@media screen and (max-width: 460px) {
  .banner .container {
    background-size: auto 30rem;
    background-position-x: 70%;
    background-position-y: 0rem; }
  .updates .stock-update-menu-item {
    width: 11rem;
    padding: 0 1rem; }
    .updates .stock-update-menu-item .countries-menu .country-menu-item {
      margin-right: 2px; }
  .updates .stock-update-body {
    width: 33.5rem; }
    .updates .stock-update-body-inner {
      transform: translateX(-33.5rem); }
    .updates .stock-update-body .stock-update-list {
      width: 31.9rem; }
      .updates .stock-update-body .stock-update-list-item {
        column-gap: 5px; }
        .updates .stock-update-body .stock-update-list-item .stock-chart {
          margin: 0; }
      .updates .stock-update-body .stock-update-list.stocks {
        overflow: hidden; }
        .updates .stock-update-body .stock-update-list.stocks .stock-currency {
          display: grid;
          grid-template-columns: max-content max-content;
          grid-gap: 1.6rem;
          transition: all 300ms cubic-bezier(0.54, -0.18, 0.19, 1.04); }
          .updates .stock-update-body .stock-update-list.stocks .stock-currency-item {
            width: 31.9rem; }
        .updates .stock-update-body .stock-update-list.stocks .us .stock-chart {
          width: 6rem;
          margin-right: 5px; }
        .updates .stock-update-body .stock-update-list.stocks .us .stock-numbers {
          width: 7.5rem; }
          .updates .stock-update-body .stock-update-list.stocks .us .stock-numbers .price {
            font-size: 13px;
            font-weight: 600; }
          .updates .stock-update-body .stock-update-list.stocks .us .stock-numbers .gain {
            font-size: 13px;
            font-weight: 500; }
            .updates .stock-update-body .stock-update-list.stocks .us .stock-numbers .gain .positive {
              color: #049f08; }
            .updates .stock-update-body .stock-update-list.stocks .us .stock-numbers .gain .negative {
              color: #eb0909; } }

header {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #151e26;
  color: white;
  padding: 8px 1rem; }
  header .logo {
    margin-left: 1rem;
    padding-right: 2rem;
    border-right: 1px solid white;
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  header nav.team-menu {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    flex-grow: 1; }
    header nav.team-menu ul.team-menu-list {
      display: flex;
      align-items: center; }
      header nav.team-menu ul.team-menu-list li.team-menu-list-item {
        cursor: pointer;
        margin-right: 1.5rem;
        font-size: 15px; }
  header nav.user-menu {
    display: flex;
    align-items: center;
    justify-content: center; }
    header nav.user-menu ul.user-menu-list {
      display: flex;
      align-items: center; }
      header nav.user-menu ul.user-menu-list li.user-menu-list-item {
        cursor: pointer;
        margin-right: 1.5rem; }
        header nav.user-menu ul.user-menu-list li.user-menu-list-item .notif {
          position: relative; }
          header nav.user-menu ul.user-menu-list li.user-menu-list-item .notif i {
            font-size: 1.8rem; }
          header nav.user-menu ul.user-menu-list li.user-menu-list-item .notif .counter {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(50%, 50%);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 100%;
            background-color: red;
            font-size: 1rem;
            font-weight: 600; }
        header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user {
          cursor: pointer;
          display: flex;
          align-items: center;
          position: relative; }
          header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user .profile-pic {
            user-select: none;
            height: 3rem;
            width: 3rem;
            margin-right: 1rem;
            border-radius: 100%;
            background-color: #fbbaa8;
            color: black;
            font-weight: 600; }
          header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user .user-name {
            user-select: none; }
          header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user input {
            display: none; }
            header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user input + .user-dropdown {
              display: none;
              position: absolute;
              top: 4.2rem;
              right: 0;
              background-color: white;
              color: black; }
              header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user input + .user-dropdown ul {
                padding: 5px 0;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
                overflow: hidden; }
                header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user input + .user-dropdown ul li {
                  padding: 0.7rem 1.5rem;
                  color: #7b889b; }
                  header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user input + .user-dropdown ul li:hover {
                    background-color: #20c0e7;
                    color: white; }
            header nav.user-menu ul.user-menu-list li.user-menu-list-item label.user input:checked + .user-dropdown {
              display: block; }

main section.project .project-header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white; }
  main section.project .project-header .project-name {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 300; }
  main section.project .project-header .actions .add-task {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #00c0e9;
    font-weight: normal;
    margin-right: 10px;
    border: 1px solid #00c0e9;
    color: white;
    border-radius: 24px;
    padding: 10px 15px; }

main section.project .project-body {
  display: flex;
  height: calc(100vh - 12rem); }
  main section.project .project-body aside {
    height: 100%;
    width: 20rem;
    background-color: white; }
    main section.project .project-body aside .collapsed {
      width: 4rem; }
