.btn {
  color: #000;
  font-size: 16px;
  line-height: 21px;
  background: #ffc800;
  padding: 11px 23px;
  border-radius: 6px;
  position: relative;
  font-weight: 600;
  border: 1px solid #ffc800;
  display: inline-block;
  text-align: center;
}
.btn:hover {
  background: #edba00;
  border-color: #ffc800;
  text-decoration: none;
  color: #000;
}
.btn.btn-outline {
  color: #063a79;
  background: transparent;
  border: 1px solid #004ba6;
}
.btn.btn-outline:hover {
  color: #fff;
  background: #004ba6;
  border-color: #004ba6;
}
.btn.btn-white {
  color: #063a79;
  background: #fff;
  border: 1px solid #fff;
}
.btn.btn-white:hover {
  background: #cee4ff;
  border-color: #cee4ff;
}
.btn.btn-sky {
  background: rgba(96, 150, 215, 0.07);
  border: 0;
  color: #063a79;
  padding: 12px 25px;
}
.btn.btn-sky:hover {
  background: rgba(96, 150, 215, 0.35);
}
.btn.btn-blue {
  background: #003ba1;
  border-color: #003ba1;
  color: #fff;
}
@media (min-width: 768px) {
  .btn.btn-blue {
    padding: 9px 23px;
  }
}
.btn.btn-blue .fa-paper-plane {
  margin: 0 6px 0 0;
}
.btn.btn-blue:hover {
  background: #004ba6;
  border-color: #004ba6;
}
.btn.btn-red {
  background: #f33131;
  border-color: #f33131;
  color: #fff;
}
.btn.btn-red:hover {
  background: #de0000;
  border-color: #de0000;
}
.btn.btn-sm {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 8px 15px;
}
@media (min-width: 1024px) {
  .btn.btn-sm {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  .btn.btn-lg {
    width: 360px;
  }
}
@media (min-width: 1024px) {
  .btn.btn-lg {
    width: 460px;
  }
}
